@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 25px;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #AAAAAA;
	display: table;
}

.radiobutton {
	display: inline-block;
	height: 40px;
	font-size: 25px;
	margin: 0 4px;
	border: 2px solid #FFFFFF;
	border-radius: 40px;
	padding: 3px 20px;
	cursor: pointer;
}

.radiobutton:hover {
	background: #444444;
}

.checked_radiobutton{
	display: inline-block;
	height: 40px;
	font-size: 25px;
	margin: 0 4px;
	border: 2px solid #FFFFFF;
	border-radius: 40px;
	padding: 3px 20px;
	cursor: pointer;
	color: #000000;
	background: #FFFFFF;
}

.sort_radiobutton {
	display: inline-block;
	height: 20px;
	font-size: 14px;
	margin: 0 4px;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	padding: 0 10px;
	cursor: pointer;
}

.sort_radiobutton:hover {
	background: #444444;
}

.checked_sort_radiobutton {
	display: inline-block;
	height: 20px;
	font-size: 14px;
	margin: 0 4px;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	padding: 0 10px;
	cursor: pointer;
	color: #000000;
	background: #FFFFFF;
}

.todo_string {
	height: 40px;
}

.complite_todo_string {
	height: 40px;
	text-decoration: line-through;
	color: #999999;
}

.task_content {
	height: 40px;
	font-size: 35px;
	margin: 0 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.checkbox {
	float: left;
	height: 40px;
	width: 40px;
	background: url(../img/sprites.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.todo_string .checkbox {
	background-position: 0px 0px;
}

.todo_string .checkbox:hover {
	background-position: -41px 0px;
}

.complite_todo_string .checkbox {
	background-position: -81px 0px;
}

.complite_todo_string .checkbox:hover {
	background-position: -121px 0px;
}

.remove_task {
	float: right;
	height: 40px;
	width: 40px;
	background: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -161px 0px;
	cursor: pointer;
}

.remove_task:hover {
	background-position: -201px 0px;
}

#vertical_align {
	display: table-cell;
	vertical-align: middle;
}

#input_task {
	height: 36px;
	width: 100%;
	color: #333333;
}

#conteiner {
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding: 10px 0;
	background: #000000;
	border: 10px solid #000000;
	border-radius: 10px;
}

#sorting_string {
	height: 32px;
	text-align: center;
}

#task_conteiner {
	padding: 20px 0;
}

#button_panel {
	text-align: center;
}